<section class="benefits">
    <h2 class="benefits__title">Disfrute de las ventajas de reservar en la web</h2>
    <ul class="benefits__list">
      
      <li class="benefits__listunit"><span class="benefits__icon"><i class="fas fa-car"></i></i></span>Aparcamiento gratuito</li>
     
      <li class="benefits__listunit"><span class="benefits__icon"><i class="fas fa-swimmer"></span></i>Piscina</li>
     
      <li class="benefits__listunit"><span class="benefits__icon"><i class="fas fa-bicycle"></i></span>Alquiler de bicicletas</li> 
     
      <li class="benefits__listunit"><span class="benefits__icon"><i class="fas fa-wifi"></i></span> Wifi en todo el establecimiento prepago</li>
    </ul>
  </section>