<main class="page">
  <article class="page__article">
    <div class="page__article--photo"></div>
    <div class="page__article--container">
    <h3 class="page__article--why">Why do we use it</h3>
    <h1 class="page__article--title">What is Lorem Ipsum</h1>
    <p class="page__article--text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quas, deleniti, laboriosam maxime temporibus pariatur nemo suscipit ab enim odio rerum necessitatibus error. Consequatur suscipit, unde laborum ratione esse mollitia!</p>
    <button class="page__article--btn">Más información <span class="page__article--btn_chevron"><i class="fas fa-chevron-right"></i></span></button>
  </div>
  </article>
  
  
</main>
