<section class="section">
  <p class="section__adults">Adults only</p>
  <p class="section__spa">Spa & Wellness</p>
  <p class="section__cycling">Cycling tourism</p>
  <p class="section__all">All inclusive</p>
  <p class="section__mice">Mice</p>
  <p class="section__beach">Beachfront</p>
  <p class="section__families">Families</p>
    <!-- <img class="section__adults"src="./assets/images/adults_only.jpg" alt="Adults only">
    <img class="section__spa" src="./assets/images/spa.jpg" alt="Spa & Wellness">  
    <img class="section__cycling"src="./assets/images/cycling.jpg" alt="Cycling tourism">  
    <img class="section__all" src="./assets/images/all_inclusive.jpg" alt="All inclusive">  
    <img class="section__mice" src="./assets/images/mice.jpg" alt="MICE">  
    <img class="section__beach" src="./assets/images/beachfront.jpg" alt="Beachfront">  
    <img class="section__families" src="./assets/images/families.jpg" alt="Families">   -->
  </section>