.page {
  font-family: $font-main;
  &__article {
    display: flex;
    flex-direction: row;
    margin: 3rem 15em 3em 10em;

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2em;
    }
    &--photo {
      min-width: 300px;
      max-width: 300px;
      background-image: url(..//images/restaurant.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--why {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 1em;
    }
    &--title {
      font-size: 26px;
      margin-bottom: 1em;
    }
    &--text {
      font-size: 16px;
      margin-bottom: 1em;
    }
    &--btn {
      background-color: $color-primary;
      color: $color-secondary;
      border: $color-secondary 2px solid;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 50px;
      width: 200px;
      padding: 10px;
    }
    &--btn_chevron {
      margin-left: 10px;
    }
  }
}

.modalwrapper {
  height: 50px;
}
.modal {
  position: relative;
  top: -220px;
  right: 0;
  bottom: 0;
  left: -20px;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;

  &__content {
    background-color: $color-primary;
    border: $color-secondary 5px solid;
    border-radius: 7px;
    width: 300px;
    padding: 20px 20px 10px 20px;
    margin: 20% auto;
    position: relative;
    left: 20px;
  }
  &__close {
    position: absolute;
    left: 275px;
    top: 0px;
    color: $color-secondary;
    text-decoration: none;
    font-weight: 700;
  }
}
#miModal:target {
  opacity: 1;
  pointer-events: auto;
}
