.page {
  font-family: $font-main;
  &__article {
    display: flex;
    flex-direction: row;
    margin: 3rem 20em 3em 20em;

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2em;
    }
    &--photo {
      min-width: 300px;
      max-width: 300px;
      background-image: url(..//images/restaurant.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--why {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 1em;
    }
    &--title {
      font-size: 26px;
      margin-bottom: 1em;
    }
    &--text {
      font-size: 14px;
      margin-bottom: 1em;
      font-weight: 300;
    }
    &--btn {
      background-color: $color-primary;
      color: $color-secondary;
      border: $color-secondary 2px solid;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 50px;
      width: 200px;
      padding: 10px;
    }
    &--btn_chevron {
      margin-left: 10px;
    }
  }
}

// VENTANA MODAL

.content {
  text-transform: none;
}

.modalContainer {
  display: none;
  position: absolute;
  z-index: 1;
  //padding-top: -250px;
  left: 650px;
  top: 300px;
  height: 300px;
  width: 300px;
  overflow: auto;
}

.modalContainer .modal-content {
  background-color: $color-primary;
  border: $color-secondary 5px solid;
  border-radius: 7px;
  width: 300px;
  padding: 20px 20px 10px 20px;
  position: absolute;
}

.modalContainer .close {
  position: absolute;
  left: 275px;
  top: 0px;
  color: $color-secondary;
  text-decoration: none;
  font-weight: 700;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
