.section {
  display: grid;
  grid-template-rows: repeat(5, 150px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  font-family: $font-main;
  color: $color-primary;
  margin: 50px 150px;

  &__adults {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(..//images/adults_only.jpg);
    @include background-images;
    @include section-text;
  }
  &__spa {
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url(..//images/spa.jpg);
    @include background-images;
    @include section-text;
  }
  &__cycling {
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url(..//images/cycling.jpg);
    @include background-images;
    @include section-text;
  }
  &__all {
    grid-column: 1/3;
    grid-row: 3/4;
    background-image: url(..//images/all_inclusive.jpg);
    @include background-images;
    @include section-text;
  }
  &__mice {
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: url(..//images/mice.jpg);
    @include background-images;
    text-transform: uppercase;
    @include section-text;
  }
  &__beach {
    grid-column: 3/4;
    grid-row: 3/5;
    background-image: url(..//images/beachfront.jpg);
    @include background-images;
    @include section-text;
  }
  &__families {
    grid-column: 1/4;
    grid-row: 5/6;
    background-image: url(..//images/families.jpg);
    @include background-images;
    @include section-text;
  }
}
